<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body>
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- sidebar include -->
        <%- include('dashboard-components/sidebar.ejs') %>.
            <!-- ends -->
        <!-- topbar -->
        <%- include('dashboard-components/topbar.ejs') %>.


            <!-- profile  -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="container rounded bg-white mt-5 mb-5">
                    <div class="row">
                        <div class="col-md-3 border-right">
                            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                                    class="rounded-circle mt-5" width="150px"
                                    src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                                    class="font-weight-bold">Edogaru</span><span
                                    class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
                        </div>
                        <div class="col-md-5 border-right">
                            <div class="p-3 py-5">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4 class="text-right">Profile Settings</h4>
                                </div>
                                <form method="post" action="/profile-save">
                                    <div class="row mt-2">
                                        <div class="col-md-6"><label class="labels">First Name</label><input type="text"
                                                class="form-control" name="name" placeholder="first name" value=""></div>
                                        <div class="col-md-6"><label class="labels">Surname</label><input type="text"
                                                class="form-control" name="surname" value="" placeholder="surname"></div>

                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-12"><label class="labels">Mobile Number</label><input
                                                type="text" name="phoneNumber" class="form-control" placeholder="enter phone number"
                                                value=""></div>
                                        <div class="col-md-12"><label class="labels">Address Line 1</label><input
                                                type="text" name="addressLine1" class="form-control" placeholder="enter address line 1"
                                                value=""></div>
                                        <div class="col-md-12"><label class="labels">Address Line 2</label><input
                                                type="text" name="addressLine2" class="form-control" placeholder="enter address line 2"
                                                value=""></div>
                                        <div class="col-md-12"><label class="labels">Postcode</label><input type="text"
                                                class="form-control" name="postal" placeholder="enter address line 2" value=""></div>
                                        <div class="col-md-12"><label class="labels">State</label><input type="text"
                                                class="form-control" name="state" placeholder="enter address line 2" value=""></div>
                                        <div class="col-md-12"><label class="labels">Area</label><input type="text"
                                                class="form-control" name="area" placeholder="enter address line 2" value=""></div>
                                        <div class="col-md-12"><label class="labels">Email ID</label><input type="text"
                                                class="form-control" name="emailID" placeholder="enter email id" value=""></div>
                                        <div class="col-md-12"><label class="labels">Education</label><input type="text"
                                                class="form-control" name="education" placeholder="education" value=""></div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6"><label class="labels">Country</label><input type="text"
                                                class="form-control" name="country" placeholder="country" value=""></div>
                                        <div class="col-md-6"><label class="labels">State/Region</label><input
                                                type="text" class="form-control" name="region" value="" placeholder="state"></div>
                                    </div>
                                    <input type="hidden" name="userId" value="{{ userId }}" />

                                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button"
                                            type="submit">Save
                                            Profile</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
</body>

</html>